*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #f0f0f0;
}

@font-face {
    font-family: 'Iconos';
    src:  url('Iconos/icomoon.eot?7lrwiw');
    src:  url('Iconos/icomoon.eot?7lrwiw#iefix') format('embedded-opentype'),
      url('Iconos/icomoon.ttf?7lrwiw') format('truetype'),
      url('Iconos/icomoon.woff?7lrwiw') format('woff'),
      url('Iconos/icomoon.svg?7lrwiw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.icon-instagram:before,
.icon-whatsapp:before,
.icon-twitter:before,
.icon-discord:before {
    font-family: 'Iconos' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-whatsapp:before {
    content: "\ea93";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-discord:before {
    content: "\e900";

}
body{
    background-color: #0f0f0f;
}
header{
    display: flex;

}   
.nombre{    
    position: fixed;    
    width: 15%; 
    height: 100%;   
}   
.logo{  
    display: flex;  
    flex-direction: column; 
    height: 50%;    
    width: 100%;    
    align-items:center; 
    justify-content: center;    
    font-size: 1.3vw;   

}   
.text{  
    display: flex;  
    width: 100%;    
    height: 30%;    
    align-items: center;    
    justify-content: center;    
    font-size: 1vm; 
}   
.contenedorImagen{  
    height: 70%;    
    width: 100%;    
    display: flex;  
    align-items: center;    
    justify-content: center;    
}
.Imagen{
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}
.rrss{
    height: 50%;
}
.Instagram{
    height: 25%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.InstaButton{
    font-size: 3vh;
    padding: 7% 17%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    border: 1px solid #c13584;
    transition: all .4s ease;
}
.icon-instagram{
    color: #c13584;
}
.Twitter{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TwitterButton{
    font-size: 3vh;
    padding: 7% 17%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    border: 1px solid #1D9BF0;
    transition: all .2s ease;

}
.icon-twitter{
    color: #1D9BF0;
}

.Whatsapp{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WhatsButton{
    font-size: 3vh;
    padding: 7% 17%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    border: 1px solid #25D366;
    transition: all .2s ease;

}
.icon-whatsapp{
    color: #25D366;
}
.Discord{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DiscButton{
    font-size: 3vh;
    padding: 7% 17%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    border: 1px solid #7289da;
    transition: all .2s ease;

}
.icon-discord{
    color: #7289da;
}
.InstaButton:hover{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border: none;
} 
.icon-instagram:hover{
    color: #f0f0f0;
}
.TwitterButton:hover{
    background-color: #1D9BF0;
} 
.icon-twitter:hover{
    color: #f0f0f0;
}
.WhatsButton:hover{
    background-color: #25D366;
}
.icon-whatsapp:hover{
    color: #f0f0f0;
}
.DiscButton:hover{
    background-color: #7289da;
}
.icon-discord:hover{
    color: #f0f0f0;
}
.contenido{
    position: absolute;
    left: 15.2%;
    width: calc(100% - 15.3%);
    height: calc(100% - .2%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bienvenida{
    display: flex;
    align-self: flex-start;
    top: 15%;
    font-size: 3vw;
    position: absolute;
}
.presentacion{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.textaco{
    padding: 50px;
    text-align: justify;
    font-size: 20px;
}

@media (max-width:500px){
    .Bienvenida{
        font-size: 5vw;
    }
    .textaco{
        font-size: 4vw;
    }
}

